# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.log

# Virtual environments
.venv/
env/
venv/

# IDEs
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Test artifacts
.coverage
.tox/
.pytest_cache/
htmlcov/

# Packaging
*.tar.gz
*.whl
MANIFEST